.infirmiers {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .nomPatient{
    padding: 6px;
    background: rgb(164, 231, 231);
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    border: rgb(13, 36, 141) solid 2px;  

  }