.infirmiers  {
    width: 310px;;
    float:left;
    padding: 6px;
    background: #E1FFFF;
    border-radius: 25px;
    border: #486AFE solid 2px;
}
.patients {
    width:200px;
    float:right;
    padding: 6px;
    background: #E1FFFF;
    border-radius: 25px;
    border: #486AFE solid 2px;
}
.ajout {
    width:400px;
    position: fixed;
    left: 40%;
    padding: 6px;
    border-radius: 25px;
    border: #486AFE solid 2px;
}
